﻿<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="Authentication.Master.cs" Inherits="WexHealth.ConsumerPortal.Participiant.Participiant" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%: Page.Title %> | Employer | Wex Health</title>

    <asp:PlaceHolder runat="server">
        <%: Styles.Render("~/Content/employer-page") %>
    </asp:PlaceHolder>
</head>
<body>
    <form id="formEmployer" runat="server">
    <div>
        <asp:ContentPlaceHolder ID="ContentPlaceHolderLogin" runat="server">        
        </asp:ContentPlaceHolder>
    </div>
    </form>
</body>
</html>
