﻿.input {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: block;
    width: 100%;
    padding: 8px 0 8px 10px;
    font-size: 14px;
    border: 1px solid rgba(0,0,0,0.2);
}

.input_type_file {
    border: 1px solid #999;
}


.input.input_type_radiobutton {
    display: inline-block;
    vertical-align: middle;
    width: 13px;
    margin: 0 3px 0 0;
}

.input_type_radiobutton__label {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: inline-block;
    vertical-align: middle;
    margin: 1px 0 0 0;
    padding: 0 20px 0 0;
    font-size: 14px;
    letter-spacing: 0.7px;
}

.input__list {
    margin: 0 0 10px 0;
}

.input__item {
    margin: 0 0 10px 0;
}

    .input__item:last-child {
        margin-bottom: 0;
    }

.input_item__label {
    margin: 0 0 0 8px;
    font-size: 13px;
}
