﻿.btn {
    display: inline-block;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 9px 15px 9px 15px;
    border: none;
    border-radius: 2px;
    font-size: 14px;
    -moz-transition: .3s cubic-bezier(0.1,0,.25,1);
    -o-transition: .3s cubic-bezier(0.1,0,.25,1);
    -webkit-transition: .3s cubic-bezier(0.1,0,.25,1);
    transition: .3s cubic-bezier(0.1,0,.25,1);
}

.btn_priority_high {
    background-color: rgba(21, 107, 228, 0.8);
    color: #FFF;
}

    .btn_priority_high:hover {
        background-color: rgba(21, 107, 228, 0.9);
        -moz-transition: none;
        -o-transition: none;
        -webkit-transition: none;
        transition: none;
        cursor: pointer;
    }

    .btn_priority_high:active {
        background-color: rgba(21, 107, 228, 1);
        -moz-transition: none;
        -o-transition: none;
        -webkit-transition: none;
        transition: none;
    }

.btn_priority_normal {
    border: 1px solid rgba(0,0,0,0.2);
    font-size: 14px;
    color: #111;
}

    .btn_priority_normal:hover {
        border-color: rgba(0,0,0,0.4);
        -moz-transition: none;
        -o-transition: none;
        -webkit-transition: none;
        transition: none;
    }

    .btn_priority_normal:active {
        border-color: rgba(0,0,0,0.6);
        -moz-transition: none;
        -o-transition: none;
        -webkit-transition: none;
        transition: none;
    }
