﻿<%@ Page Title="Users | Employer" Language="C#" MasterPageFile="~/Admin/Admin.Master" AutoEventWireup="true" CodeBehind="Index.aspx.cs" Inherits="WexHealth.ConsumerPortal.Admin.Manage_Employer_Users" %>

<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
    <header class="header clearfix">
        <div class="header__logout">
            <a href="#" class="link">Log out</a>
        </div>
    </header>
    <nav class="tabs">
        <ul class="tabs__list inlinefix">
            <li class="tabs__item"><a href="<%= Page.ResolveUrl("~/Admin/Index.aspx") %>" class="tabs__link">Home</a></li>
            <li class="tabs__item"><a href="<%= Page.ResolveUrl("~/Admin/Consumer/Index.aspx") %>" class="tabs__link">Consumer</a></li>
            <li class="tabs__item"><a href="<%= Page.ResolveUrl("~/Admin/Employer/Index.aspx") %>" class="tabs__link tabs__link_active">Employer</a></li>
            <li class="tabs__item"><a href="<%= Page.ResolveUrl("~/Admin/Claims/Index.aspx") %>" class="tabs__link">Claims</a></li>
            <li class="tabs__item"><a href="<%= Page.ResolveUrl("~/Admin/Reports/Index.aspx") %>" class="tabs__link">Reports</a></li>
            <li class="tabs__item"><a href="<%= Page.ResolveUrl("~/Admin/Setup/Index.aspx") %>" class="tabs__link">Setup</a></li>
        </ul>
    </nav>
    <div class="page__content">
        <div class="active clearfix">
            <div class="active__title-wrapper">
                <div class="active__title">Amato</div>
                <ul class="active__info-list inlinefix">
                    <li class="active__info-item"><span class="active__info-label">Code</span> Amato</li>
                    <li class="active__info-item"><span class="active__info-label">City</span> New York</li>
                    <li class="active__info-item"><span class="active__info-label">Zip code</span> 214</li>
                    <li class="active__info-item"><span class="active__info-label">Phone</span> +375 29 635-21-21</li>
                </ul>
            </div>
            <div class="active__controls">
                <a href="<%= Page.ResolveUrl("~/Admin/Employer/Index.aspx") %>" class="btn btn_priority_normal"><span class="btn__text">Select a different employer</span></a>
            </div>
        </div>
        <div class="form__wrapper">
            <div class="form__head">
                <div class="form__title">User info</div>
            </div>
            <form class="form">
                <div class="form__row inlinefix">
                    <div class="form__label">First Name</div>
                    <div class="form__input-wrapper">
                        <input type="text" class="input input_type_text" />
                    </div>
                </div>
                <div class="form__row inlinefix">
                    <div class="form__label">Last Name</div>
                    <div class="form__input-wrapper">
                        <input type="text" class="input input_type_text" />
                    </div>
                </div>
                <div class="form__row inlinefix">
                    <div class="form__label">Email</div>
                    <div class="form__input-wrapper">
                        <input type="text" class="input input_type_text" />
                    </div>
                </div>
                <div class="form__row inlinefix">
                    <div class="form__label">Username</div>
                    <div class="form__input-wrapper">
                        <input type="text" class="input input_type_text" />
                    </div>
                </div>
                <div class="form__row inlinefix">
                    <div class="form__label">Password</div>
                    <div class="form__input-wrapper">
                        <input type="text" class="input input_type_text" />
                    </div>
                    <div class="form__comment">
                        Don't want to imagine? <a href="#" class="link">Generate password</a>
                    </div>
                </div>
                <div class="form__btns">
                    <input type="submit" class="btn btn_priority_high" value="Save" />
                    <a href="<%= Page.ResolveUrl("~/Admin/Employer/Manage/Index.aspx") %>" class="btn btn_priority_normal"><span class="btn__text">Cancel</span></a>
                </div>
            </form>
        </div>
        <div class="table__wrapper" style="margin: 80px 0 40px 0;">
            <div class="table__title-wrapper">
                <div class="table__title">Employer's users</div>
                <div class="table__controls">
                    <a href="#" class="btn btn_priority_normal"><span class="btn__text">Add</span></a>
                    <a href="#" class="btn btn_priority_normal"><span class="btn__text">Update</span></a>
                </div>
            </div>
            <table class="table">
                <thead class="table__thead">
                    <tr class="table__head">
                        <th class="table__column table__column_filter">
                            <div class="column__text">Name</div>
                        </th>
                        <th class="table__column">
                            <div class="column__text">Username</div>
                        </th>
                        <th class="table__column">
                            <div class="column__text">Email</div>
                        </th>
                    </tr>
                </thead>
                <tbody class="table__tbody">
                    <tr class="table__row">
                        <td class="table__cell">Artem Grabovski</td>
                        <td class="table__cell">artgrabovski</td>
                        <td class="table__cell">art.grabovski@gmail.com</td>
                    </tr>
                    <tr class="table__row">
                        <td class="table__cell">Artem Grabovski</td>
                        <td class="table__cell">artgrabovski</td>
                        <td class="table__cell">art.grabovski@gmail.com</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</asp:Content>
