﻿.setting-wrapper {
    max-width: 1280px;
}

.setting__group-item {
    display: inline-block;
    vertical-align: top;
    margin: 0 100px 50px 0;
}

.setting__title {
    font-size: 18px;
}

.setting__list {
    margin: 14px 0 0 10px;
}

.setting__item {
    max-width: 200px;
    margin: 0 0 8px 0;
}

    .setting__item:last-child {
        margin-bottom: 0;
    }

.setting__link {
    font-size: 14px;
}
