﻿.form_orientation_horizontal {
    max-width: none;
}

.form_orientation_horizontal__row {
    display: inline-block;
    vertical-align: top;
    margin: 0 10px 0 0;
    max-width: 400px;
}

.form_orientation_horizontal__label {
    display: block;
    width: auto;
    margin: 0 0 10px 0;
    padding: 0 0 0 0;
}

.form_orientation_horizontal__input-wrapper {
    display: block;
    width: auto;
}

.form_orientation_horizontal__comment {
    padding: 0 40px 0 0;
}

.form_orientation_horizontal__row__btns {
    display: inline-block;
    margin: 24px 0 0 5px;
    padding: 0 0 0 0;
}
