﻿html {
    font-family: Arial;
    font-size: 14px;
    line-height: 1.3;
}

.page {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    min-width: 1280px;
    padding: 30px 80px 40px 80px;
}

.page__content {
    margin: 60px 0 0 0;
}

.page__content_centered {
    text-align: center;
}

/*Fixing*/
.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

.inlinefix {
    font-size: 0;
}
/*End fixing*/
