﻿.active {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0 0 20px 0;
    margin: 0 0 40px 0;
    border-bottom: 1px solid #e2e2e2;
}

.active__title-wrapper {
    display: inline-block;
}

.active__title {
    display: inline-block;
    font-weight: bold;
    font-size: 18px;
}

.active__logo {
    float: left;
    display: block;
    max-width: 80px;
    max-height: 80px;
    margin: 0 20px 0 0;
}

.active__info-list {
    margin: 15px 0 0 0;
    list-style: none;
}

.active__info-item {
    display: inline-block;
    margin: 0 40px 0 0;
    font-size: 12px;
}

.active__info-label, .active__title-label {
    display: block;
    margin: 0 0 7px 0;
    font-size: 11px;
    font-weight: normal;
    letter-spacing: 0.5px;
    text-transform: uppercase;
}

.active__controls {
    float: right;
}