﻿.pop-up {
    width: 600px;
    height: 260px;
    border: 1px solid #808080;
    margin: auto;
    border-radius: 2px;
}

.pop-up__title__wrapper {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: block;
    height: 30px;
    margin: 0 0 15px 0;
    padding: 5px 25px 0 24px;
    border-bottom: 1px solid #808080;
}

.pop-up__title {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: inline-block;
    font-size: 14px;
}

.pop-up__close {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: inline-block;
    font-size: 14px;
    float: right;
}

.pop-up__close_link {
    color: #808080;
}

.pop-up__form__wrapper {
    padding: 0 0 0 24px;
}