﻿.popup {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 40px 60px 50px 50px;
    box-shadow: rgba(0,0,0,0.2) 0 0 100px;
    background-color: #f5f5f5;
}
