﻿.filter {
    margin: 15px 0 20px 0;
}

.filter__list {
    display: inline-block;
    border-radius: 2px;
    border: 1px solid rgba(0,0,0,0.2);
    list-style: none;
}

.filter__item {
    display: inline-block;
}

.filter__link {
    display: block;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 9px 15px 9px 15px;
    border-right: 1px solid rgba(0,0,0,0.2);
    font-size: 14px;
    color: rgba(0,0,0,0.6);
    -moz-transition: .3s cubic-bezier(0.1,0,.25,1);
    -o-transition: .3s cubic-bezier(0.1,0,.25,1);
    -webkit-transition: .3s cubic-bezier(0.1,0,.25,1);
    transition: .3s cubic-bezier(0.1,0,.25,1);
}

    .filter__link:not(.filter__link_active):hover {
        background-color: rgba(0,0,0,0.05);
        -moz-transition: none;
        -o-transition: none;
        -webkit-transition: none;
        transition: none;
    }

    .filter__link:not(.filter__link_active):active {
        background-color: rgba(0,0,0,0.1);
        -moz-transition: none;
        -o-transition: none;
        -webkit-transition: none;
        transition: none;
    }

.filter__item:last-child > .filter__link {
    border-right: none;
}

.filter__link_active {
    background-color: rgba(0,0,0,0.8);
    border-color: transparent;
    color: #FFF;
}
