﻿.tabs {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 30px 0 40px 0;
}

.tabs__list {
    list-style: none;
}

.tabs__item {
    display: inline-block;
    margin: 0 30px 0 0;
}

.tabs__link {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0 0 7px 0;
    border-bottom: 1px rgba(0,0,0,0.2) solid;
    font-size: 18px;
    font-family: Arial;
    color: rgba(0,0,0,0.6);
    -moz-transition: .3s cubic-bezier(0.1,0,.25,1);
    -o-transition: .3s cubic-bezier(0.1,0,.25,1);
    -webkit-transition: .3s cubic-bezier(0.1,0,.25,1);
    transition: .3s cubic-bezier(0.1,0,.25,1);
}

    .tabs__link:not(.tabs__link_active):hover {
        color: rgba(0,0,0,0.7);
        border-color: rgba(0,0,0,0.6);
        -moz-transition: none;
        -o-transition: none;
        -webkit-transition: none;
        transition: none;
    }

    .tabs__link:not(.tabs__link_active):active {
        color: rgba(0,0,0,0.8);
        border-color: rgba(0,0,0,0.8);
        -moz-transition: none;
        -o-transition: none;
        -webkit-transition: none;
        transition: none;
    }

.tabs__link_active {
    color: #156be4;
    border-color: #156be4;
}
