﻿.form__head {
    margin: 0 0 25px 0;
}

.form__title {
    font-size: 24px;
}

.form__wrapper {
    display: inline-block;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    max-width: 1280px;
    padding: 25px 35px 30px 30px;
    border-radius: 5px;
    background-color: #f5f5f5;
}

.form {
    text-align: left;
}

.form__row {
    margin: 0 0 15px 0;
}

.form__label {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: inline-block;
    vertical-align: baseline;
    width: 150px;
    padding: 0 30px 0 0;
    vertical-align: baseline;
    font-size: 11px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
}

.form__input-wrapper {
    display: inline-block;
    vertical-align: baseline;
    width: 400px;
    font-size: 14px;
}

.form__comment {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 10px 0 0 0;
    padding: 0 0 0 150px;
    font-size: 12px;
}

.form__btns {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 25px 0 0 0;
    padding: 0 0 0 150px;
    text-align: left;
}

    .form__btns .btn {
        margin: 0 6px 0 0;
    }
