﻿.table__wrapper {
}

.table {
    width: 100%;
    margin: 15px 0 0 0;
    border-collapse: collapse;
    border: 0;
}

.table__title-wrapper {
    margin: 0 0 10px 0;
}

.table__title {
    display: inline-block;
    font-size: 24px;
    line-height: 40px;
    vertical-align: bottom;
}

.table__search {
    margin: 0 0 30px 0;
}

.table__controls {
    float: right;
}

    .table__controls > .btn {
        margin: 0 0 0 6px;
    }

.table__column {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0 50px 0 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    font-size: 11px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    text-align: left;
}

.table__column_type_numeric {
    text-align: right;
}

.table__column_filter > .column__text {
    border-bottom-color: #111;
}

/*.table__column:not(.table__column_filter):hover > .column__text {
    border-bottom-color: rgba(0, 0, 0, 0.4);
    cursor: pointer;
    -moz-transition: none;
    -o-transition: none;
    -webkit-transition: none;
    transition: none;
}*/

.column__text {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px 0 10px 0;
    position: relative;
    bottom: -1px;
    border-bottom: 2px solid transparent;
    -moz-transition: .3s cubic-bezier(0.1,0,.25,1);
    -o-transition: .3s cubic-bezier(0.1,0,.25,1);
    -webkit-transition: .3s cubic-bezier(0.1,0,.25,1);
    transition: .3s cubic-bezier(0.1,0,.25,1);
}

.table__row {
    -moz-transition: .3s cubic-bezier(0.1,0,.25,1);
    -o-transition: .3s cubic-bezier(0.1,0,.25,1);
    -webkit-transition: .3s cubic-bezier(0.1,0,.25,1);
    transition: .3s cubic-bezier(0.1,0,.25,1);
}

    .table__row:hover {
        background-color: rgba(255, 219, 0, 0.1);
        transition: none;
    }

.table__row_linked {
    cursor: pointer;
}

.table__cell {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 20px 50px 25px 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.table__cell_type_numeric {
    text-align: right;
}

.table__cell_type_action {
    text-align: right;
}
