﻿.message__wrapper {
    margin: 0 0 20px 0;
}

.message {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0 0 30px 0;
    padding: 15px 30px 15px 20px;
    border-radius: 5px;
    color: #FFF;
    text-align: left;
}

.message_type_success {
    background-color: #2c9053;
}

.message_type_error {
    background-color: #a50308;
}

.message__key-word {
    font-weight: bold;
}

.message > ul {
    list-style: none;
}

    .message > ul > li {
        margin: 0 0 2px 0;
    }
