﻿.claim__status {
    vertical-align: middle;
}

    .claim__status::before {
        content: '';
        position: relative;
        display: inline-block;
        width: 5px;
        height: 5px;
        margin: 0 7px 0 0;
        bottom: 1px;
        vertical-align: middle;
        border-radius: 50%;
    }

.claim__status_type_paid {
    color: #2c9053;
}

    .claim__status_type_paid::before {
        background-color: #2c9053;
    }

.claim__status_type_pending {
    color: #b1ae21;
}

    .claim__status_type_pending::before {
        background-color: #b1ae21;
    }

.claim__status_type_denied {
    color: #a50308;
}

    .claim__status_type_denied::before {
        background-color: #a50308;
    }
