﻿.link {
    color: rgba(0,0,0,0.6);
    -moz-transition: .3s cubic-bezier(0.1,0,.25,1);
    -o-transition: .3s cubic-bezier(0.1,0,.25,1);
    -webkit-transition: .3s cubic-bezier(0.1,0,.25,1);
    transition: .3s cubic-bezier(0.1,0,.25,1);
}

    .link:hover {
        color: #156be4;
        -moz-transition: none;
        -o-transition: none;
        -webkit-transition: none;
        transition: none;
    }
